html, body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 90%;
    background: #f5fafa;

    &.wrapper {
        border-radius: 5px;
        padding: 15px; 
        max-width: 500px;
        margin: 15px auto;
    }
}

.showItem {
    display: block !important;
}
.text-center {
    text-align: center;
}

select {
    width: 400px;
    max-width: 96%;
}
.newItem {
    display: none;
    padding: 25px 25px 5px 25px;

    label {
        font-size: 0.85em;
    }
}
.btn {
    margin: 5px;
}

* { box-sizing: border-box; }
@media (max-width: 576px) {
    .newItem + .newItem {
        padding-top: 0;
    }
}
